/* Import Tailwind CSS */
@import "tailwindcss";

/* Themes */
@theme {
  /* Primary Colors */
  --color-primary-100: #dad7cd; /* Pale Sage */
  --color-primary-200: #a3b18a; /* Sage Green */
  --color-primary-300: #588157; /* Moss Green */
  --color-primary-400: #3a5a40; /* Hunter Green */
  --color-primary-500: #344e41; /* Evergreen */

  /* Secondary Colors */
  --color-secondary-100: #e7f2e7; /* Mint Mist */
  --color-secondary-200: #ffebd7; /* Peach Cream */

  /* Accent Color */
  --color-accent-100: #d68c45; /* Warm Ochre */
}

/* Base Layer */
@layer base {
  /* Base body styles */
  * {
    @apply !scroll-smooth;
    @apply !scroll-pt-48;
    @apply box-border;
  }

  body {
    @apply bg-primary-100;
    font-family: var(--font-dm-sans);
  }

  /* Heading typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-merriweather);
    @apply text-primary-400 font-bold lg:w-3/4;
  }

  /* Code typography */
  code,
  pre {
    font-family: var(--font-dm-mono);
    @apply text-base md:text-lg;
    @apply text-primary-500 lg:w-3/4;
  }

  /* H1 specific styling */
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl;
  }

  p,
  li,
  span,
  a,
  blockquote,
  pre,
  code,
  strong,
  em {
    @apply text-base md:text-lg;
    @apply tracking-tight text-primary-500 lg:w-3/4;
    font-family: var(--font-dm-sans);
  }
}

/* Components Layer */
@layer components {
  .footer-text {
    @apply text-primary-500 hover:opacity-75;
    @apply text-base tracking-tight transition duration-200;
  }

  .list-item {
    @apply text-base;
    @apply tracking-tight text-black;
  }

  .button {
    @apply bg-accent-100 shadow-none;
    @apply text-base text-secondary-200 transition duration-200 hover:opacity-75;
  }
}

/* Custom Utilities */
@utility flex-center {
  @apply flex w-full items-center flex-col;
}
